
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@using P1_EDD_DAVH_AFPE.Models.Data;

<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            <div class="form-group">
                <select class="form-control" name="municipality">
                    @foreach(var item in Singleton.Instance.municipalities)
                    {
                        <option value="@item">@Html.DisplayText(item)></option>
                    }
                </select>
            </div>
        </form>
    </div>
</div>