@model IEnumerable<string> 


<h1>Inicio de sesión</h1>
@using P1_EDD_DAVH_AFPE.Models.Data;

<div class="row">
    <div class="col-12">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>
                            Departamento
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item, "LoginM", new { department = item }, new { @class = "btn-link btn-block text-left" })</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>