@model P1_EDD_DAVH_AFPE.Models.PacientModel
@using P1_EDD_DAVH_AFPE.Models.Data
@{
    ViewData["Title"] = "Create";
}

<h1>Registro de paciente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellido</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label">DPI / Partida de nacimiento</label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label text-xl-left">Departmento: @ViewBag.depa</label>
            </div>
            <div class="form-group">
                <label class="control-label text-xl-left">Municipio: @ViewBag.muni</label>
            </div>
            <div class="form-group">
                <select class="form-select" asp-for="priority">
                    @foreach (var item in P1_EDD_DAVH_AFPE.Models.Data.Singleton.Instance.priorities)
                    {

                        <option value="@item">@Html.DisplayFor(modelItem => item)</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
