@using P1_EDD_DAVH_AFPE.Models.Data
@{
    ViewData["Title"] = "MainMenu";
}


<h1>COVID-19 Vaccination System</h1>
<div class="form-group">
    <label class="control-label text-xl-left">Current vaccination center: @Html.DisplayFor(model => Singleton.Instance.department),@Html.DisplayFor(model => Singleton.Instance.muni) </label>
</div>

<h4>What would you like to do?</h4>

<div>
    <div>

        <a class="btn btn-info" asp-action="Create">Add register of person to waiting List.</a>
        <a class="btn btn-info" asp-action="Schedule">Schedule Vaccination</a>
        <a class="btn btn-info" asp-action="SIndex">Waiting List</a>
        <a class="btn btn-info" asp-action="VaccinatedList">Vaccinated List</a>
        <a class="btn btn-info" asp-action="Percentage">Percentage of vaccinated</a>
    </div>

</div>

@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}

