@using P1_EDD_DAVH_AFPE.Models.Data
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "MainMenu";
}


<h1>COVID-19 Vaccination System</h1>
<div class="form-group">
    <label class="control-label text-xl-left">Current vaccination center: @ViewBag.Department, @ViewBag.Municipality </label>
</div>

<h4>What would you like to do?</h4>

<div>
    <div>
        <a class="btn btn-info" asp-action="Create">Registrar paciente</a>
        <a class="btn btn-info" asp-action="SMenu">Simulación de calendarizado</a>
        <a class="btn btn-info" asp-action="SIndex">Lista de espera</a>
        <a class="btn btn-info" asp-action="VaccinatedList">Lista de vacunados</a>
        <a class="btn btn-info" asp-action="Percentage">Porcentaje de vacunados</a>
    </div>

</div>

@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}

