
@{
    ViewData["Title"] = "SMenu";
}

<h1>SMenu</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="SConfiguration">
            <div class="form-group">
                <label for="simmultaneous" class="control-label">Por favor indique el numero simultaneo de pacientes a atender.</label>
                <input name="simmultaneous" class="form-control col-2" type="number" min="1" value="3" required/>
                <span name="simmultaneous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="schedule" class="control-label">Por favor indique la duración de la cita de vacunación en minutos enteros.</label>
                <input name="schedule" class="form-control col-2" type="number" min="5" max="60" value="15" required/>
                <span name="schedule" class="text-danger"></span>
            </div>
            @if(P1_EDD_DAVH_AFPE.Models.Data.Singleton.Instance.startingDate == "")
            {
                <div class="form-group">
                    <label for="startingDate" class="control-label">Por favor indique la fecha de inicio de jornada de vacunación</label>
                    <input name="startingDate" class="form-control" type="date" required min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                    <span name="startingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Continuar" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>
<script>
var dt = new Date();
document.getElementById('date-time').innerHTML=dt;
</script>